{% extends "../registration/base.html" %}
{% load static %}

{% block title %}Log In{% endblock title%}


{% block body %}
    {% block form_title %}<div class="form_title">Welcome Back</div>{% endblock form_title %}
    
    {% block form %}
        <div class="reg-forms" style="background-image: url({% static 'img/registration/form-background.png' %});">
            <div class="form-contents">

                <div class="username">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                   
                </div>
                <div class="pass-wrd">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                    
                </div>
               
            </div>

            {% block form_footer_link %}


            <div class="signup">
                <button type="submit" class="login-button">log in</button>

                <div class="signup-link">
                    New to Metro Munch?
                    <a href="{% url 'users:signup' %}">Sign up</a>
                </div>
               
            </div>
            {% endblock form_footer_link %}
        </div>
    {% endblock form %}
{% endblock body %}
