{% extends "../registration/base.html" %}
{% load static %}

{% block title %}Log In{% endblock title%}


{% block body %}
    {% block form_title %}Welcome Back{% endblock form_title %}
    
    {% block form %}
        <div class="login" style="background-image: url({% static 'img/registration/form-background.png' %});">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% block form_footer_link %}
                New to Metro Munch?
            <a href="{% url 'users:signup' %}">Sign up</a>
            {% endblock form_footer_link %}
        </div>
    {% endblock form %}
{% endblock body %}
