{% extends "../registration/base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock title%}


{% block body %}
    {% block form_title %}Welcome to Metro Munch{% endblock form_title %}
    {% block form %}
		<div class="reg-form" style="background-image: url({% static 'img/registration/form-background.png' %});">
			<label for="firstname">First Name</label>
			<input type="text">
			<label for="lastname">Last Name</label>
			<input type="text">
			<label for="username">Username</label>
			<input type="text">
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<label for="password-confirm">Password Confirmation</label>
			<input type="password" name="password-confirmation" id="password-confirmation">
			{% block form_footer_link %}
			Already have an account? <a href="{% url 'users:login' %}">Log in</a>
			{% endblock form_footer_link %}
		</div>
    {% endblock form %}
{% endblock body %}
