{% extends '../base.html' %}
{% load static %}


{% block title %}Feedback{% endblock title %}

{% block body %}
<div class="outer">

    <!-- HEADER BEGIN -->
  <header class="header"></header>
  <!-- HEADER END -->

  <!-- MAIN BEGIN -->
  <main class="main">
    <div class="pizza">
      <img src="{% static 'img/feedback/pizza.png' %}" width="250" alt="" />
    </div>
    <div class="noodles">
      <img src="{% static 'img/feedback/ramen.png' %}"alt="" />
    </div>
    <div class="cake">
      <img src="{% static 'img/feedback/cake.png' %}" width="250"
        style="transform: rotate(-45deg)" alt="" />
    </div>
    <div class="spoons">
      <img src="{% static 'img/feedback/folk-knife-spoon.png' %}" width="250"
        style="transform: rotate(-30deg)" alt="" />
    </div>
    <div class="inner-container">
      <h3 class="upper-text">Tell us ...</h3>
      <div class="lower-elements">
        <div class="leftside-elements">
          <p>Help us help you!</p>
          <div>
            <img src="{% static 'img/feedback/feedback-thumbs-up.png' %}" width="250" />
          </div>
        </div>
        <div class="rightside-elements">

          <!-- FORM BEGIN -->
          <form action="">
            <div>
              <p>Feedback type</p>
              <input type="radio" id="choice1" name="feedback-type" required />
              <label for="choice1">In-house services</label>
              <input type="radio" id="choice2" name="feedback-type" required />
              <label for="choice2">Catering services</label>
            </div>

            <div>
              <p>Names</p>
              <input type="text" id="names" name="names" required />
            </div>
            <div>
              <p>Email</p>
              <input type="email" id="email" name="email" required />
            </div>
            <div>
              <p>Message</p>
              <input type="text" id="message" name="message" required />
            </div>
            <div class="input-buttons">
              <input type="reset" />
              <input type="submit" />
            </div>
          </form>
          <!-- FORM END -->
          
        </div>
      </div>
    </div>
  </main>
  <!-- MAIN END -->

  <!-- FOOTER BEGIN -->
  <footer class="footer"></footer>
  <!-- FOOTER END -->
</div>  
{% endblock body %}
