{% block title %}Welcome{% endblock title %}

{% block body %}
<!--  -->
<main>
    <!-- ABOUT US START -->
    <section id="about-us" class="about-us"></section>
    <!-- ABOUT US END -->
    <section id="services" class="services"></section>
    <section id="contact-us" class="contact-us"></section>
    <section id="metro-specials" class="metro-specials">
        <div class="food-day-container">
            <h2 class="food-title">Savory Sunday</h2>
            <div class="food-day-body">
                <div class="food-image">
                    <img src="./../../static/img/index/milkshake.png" alt="">
                </div>
                <p class="food-text">
                    Kick off the week with a burst of sweet and savory flavors!
                            Indulge in sweet delights and pair them with creamy milkshakes. Satisfy your cravings with chocolate, strawberry, or vanilla flavors. Elevate your Sunday indulgence with our delectable treats and refreshing milkshakes.
                </p>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Meaty Monday</h2>
            <div class="food-day-body">
                <p class="food-text">
                    Start your day with a protein-packed day! 
                            Sink your teeth into tender and juicy steak, expertly cooked to perfection. 
                            Choose from a selection of prime cuts, such as ribeye or filet mignon, bursting with flavor. Accompanied by delectable sides and sauces.
                </p>
                <div class="food-image">
                    <img src="./../../static/img/index/ribs.png" alt="">
                </div>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Taco Tuesday</h2>
            <div class="food-day-body">
                <div class="food-image">
                    <img src="./../../static/img/index/tacos.png" alt="">
                </div>
                <p class="food-text">
                    Spice up your Tuesday with a fiesta of flavors! 
                            Build your own tacos with a variety of fillings like grilled shrimp, seasoned ground beef, or marinated grilled chicken. Top them off with fresh salsa, guacamole, and a sprinkle of cheese.
                </p>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Wholesome Wednesday</h2>
            <div class="food-day-body">
                <p class="food-text">
                    Enjoy a colourful salad bursting with fresh green, vibrant
                            veggies, and grilled chicken or tofu.For a healthier option,
                            try a bowl of quinoa or a veggie stir-fry.
                </p>
                <div class="food-image">
                    <img src="./../../static/img/index/chicken-salad.png" alt="">
                </div>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Traditional Thursday</h2>
            <div class="food-day-body">
                <div class="food-image">
                    <img src="./../../static/img/index/ugali-extra.png" alt="">
                </div>
                <p class="food-text">
                    Dive into flavors of Kenyan cuisines.
                            Go back to your roots with hot white or brown 
                            ugali served with a side of sukuma-wiki, wet-fried 
                            beef and kachumbari.
                </p>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Flavour Friday</h2>
            <div class="food-day-body">
                <div class="food-image">
                    <img src="./../../static/img/index/soda.png" alt="">
                </div>
                <p class="food-text">
                    Indulge in the tantalizing flavors of perfectly
                            fried fish and the satisfying crunch of golden
                            chips with a complementary 500ml soda.
                </p>
                <div class="food-image">
                    <img src="./../../static/img/index/fish-chips.png" alt="">
                </div>
            </div>
        </div>
        <div class="food-day-container">
            <h2 class="food-title">Seafood Saturday</h2>
            <div class="food-day-body">
                <div class="food-image">
                    <img src="./../../static/img/index/shrimp.png" alt="">
                </div>
                <p class="food-text">
                    Celebrate the end of the workweek with a 
                            seafood extravaganza! Savor succulent 
                            shrimp scampi, grilled salmon, or a seafood 
                            paella brimming with clams, mussels, and 
                            calamari. Don't forget a squeeze of lemon to 
                            enhance the flavors.
                </p>
            </div>
        </div>
    </section>
</main>
<!--  -->
{% endblock body %}
