.pizza-reg {
	position: absolute;
	top: 0;
}

.noodles-reg {
	position: absolute;
	top: 0;
	right: 0;
}

.spoons-reg {
	position: absolute;
	bottom: 0;
}

.cake-reg {
	position: absolute;
	bottom: 0;
	right: 0;
}

.body-reg {
	background: linear-gradient(180deg, #916A4A 0%, #97887D 100%);
}