.body-reg{
    background: linear-gradient(180deg, #916A4A 0%, #97887D 100%);
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.pizza-reg img{
    width: 250px;

}
.noodles-reg img{
    width: 250px;
}
.cake-reg img{
    width: 250px;
}
.spoons-reg img{
    width: 250px;
}

.pizza-reg{
    position: absolute;
    top: -45px;
    left: 15px;
    transform: rotate(-5deg);
}
.noodles-reg{
    position: absolute;
    top: -40px;
    right: 0;
    transform: rotate(33deg);
}
.cake-reg{
    position: absolute;
    bottom: -50px;
    right: 0;
    transform: rotate(-45deg);
}
.spoons-reg{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-30deg);
} 