.login-main {
	position: relative;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	all: unset;
}

.form-field {
	color: white;
	border-bottom: 2px solid black;
	margin: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.form-container {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 40px;
}


.login-form-title {
	text-align: center;
}

.login-form button {
	border-radius: 30px;
	outline: none;
	border: none;
	background: white;
	cursor: pointer;
	padding: 10px;
}

.form-body {
	/* border-radius: 15px; */
	/* float: left; */
	margin-left: 50%;
}