{% load static %}
<!-- HEADER START -->
<header>
    <!--  -->
    <nav class="navbar">
        <a href="#">
            <div class="logo">
                <img src="{% static 'img/index/logo-small.png' %}" alt="">
            </div>
        </a>
        <ul class="nav-links">
            <li>
                <a href="#">ABOUT US</a>
            </li>
            <li>
                <a href="#">SERVICES</a>
            </li>
            <li>
                <a href="#">METRO SPECIALS</a>
            </li>
            <li>
                <a href="#">CONTACT US</a>
            </li>
        </ul>
    </nav>
    <!--  -->    
</header>
<!-- HEADER END -->
